<!DOCTYPE html>
<html>
    <body>
      <h1>Welcome to my programming experiment!</h1>
      <h2>Hi <%=name%>! I spent my Sunday learning how to build this basic web app.</h2>
      <img src="../images/capetown.jpg"</img>
  </body>
</html>